:root{
	--grayMain: #1d1d1d;
	--grayLight: #404040;
}

html, body{
	height: 100%;
}

body{
	background-color:var(--grayMain);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.flex{
	display: flex;
}

.lightGray{
	background-color:var(--grayLight);
}

.whiteText{
	color: white;
}

#accordion{
	margin-bottom: 1em;
}

#container{
	color:white;
	height: calc(100% - 13.5rem);
	margin-top: 10em;
}

#conversionInput input{
	background-color:var(--grayLight);
	border: 2px solid white;
	border-right: 0;
	color: white;
	flex-grow: 1;
	font-size: 18pt;
	padding: 0 .25em;
	text-align: right;
}

#conversionInput input:nth-child(3){
	border-left: 0;
}

#conversionInput input.correct{
	color: green;
}

#conversionInput input.wrong{
	color: red;
}

#conversionInput span{
	background-color:var(--grayLight);
	border: 2px solid white;
	padding: .375rem .75rem;
}