[submodule "ToMetric"]
	path = ToMetric
	url = https://github.com/FireLemons/ToMetric.git
[submodule "IsaacPills"]
	path = IsaacPills
	url = https://github.com/FireLemons/IsaacPills.git
[submodule "SudokuSolver"]
	path = SudokuSolver
	url = https://github.com/FireLemons/SudokuSolver.git
[submodule "COMOWeather"]
	path = COMOWeather
	url = https://github.com/FireLemons/COMOWeather
[submodule "ErrorFreeCalculator"]
	path = ErrorFreeCalculator
	url = https://github.com/FireLemons/ErrorFreeCalculatorPage
[submodule "AutocompleteExample"]
	path = AutocompleteExample
	url = https://github.com/FireLemons/AutocompleteExample.git
[submodule "AutocompleteDebounceExample"]
	path = AutocompleteDebounceExample
	url = https://github.com/FireLemons/AutocompleteExample.git
[submodule "Unity404"]
	path = Unity404
	url = https://github.com/FireLemons/Unity404
