[submodule "ToMetric"]
	path = ToMetric
	url = git@github.com:FireLemons/ToMetric.git
[submodule "IsaacPills"]
	path = IsaacPills
	url = git@github.com:FireLemons/IsaacPills.git
[submodule "SudokuSolver"]
	path = SudokuSolver
	url = git@github.com:FireLemons/SudokuSolver.git
