@font-face {

    font-family: Upheaval;
    src: url(upheavtt.ttf);
}

*{
	
	font-family: Upheaval;
	text-align: center;
	margin: 0;
}

body{
	
	height:100%;
}

html{

	height: 100%;
}

.noSelect{
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge*/
}

/*Thanks to the binding of isaac wiki for the room background code*/
div#main{
	
	background:
		url(Images/Textures/Content_corner_top_left.png) no-repeat scroll left top border-box,
		url(Images/Textures/Content_corner_top_right.png) no-repeat scroll right top border-box,
		url(Images/Textures/Content_corner_bottom_left.png) no-repeat scroll left bottom border-box,
		url(Images/Textures/Content_corner_bottom_right.png) no-repeat scroll right bottom border-box,
		url(Images/Textures/Content_top.png) repeat-x scroll right top border-box,
		url(Images/Textures/Content_left.png) repeat-y scroll left top border-box,
		url(Images/Textures/Content_right.png) repeat-y scroll right top border-box,
		url(Images/Textures/Content_bottom.png) repeat-x scroll left bottom border-box,
		url(Images/Textures/Bg.png) left top repeat padding-box;
	box-sizing: border-box;
	height: 100%;
	padding: 3em;
	width: 100%;
}

div#topControls{
	
	background: url(Images/Message.png) no-repeat center center border-box;
	display: flex;
}

p#version_header{
	
	display:inline-block;
	font-size: 30pt;
	padding: .4em;
}

div#topControls *:hover{
	
	background-color: rgba(255, 255, 255, 0.1);
	cursor: hand;
	cursor: pointer;
}

img#phd, img#reset{
	
	image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
	padding: 0 3em;
}

p#version_header{
	
	background-size: contain;
	color: white;
	font-size: 30pt;
	flex-grow:1;
}

table#pillInfo{
	
	width: 100%;
}

table#pillInfo tr td{
	
	width: 33%;
}

table#pillInfo tr td:hover{
	
	background:url(Images/Left.svg) no-repeat left top, url(Images/Right.svg) no-repeat right top;
	background-size: contain;
	background-color: rgba(255, 255, 255, 0.1);
	cursor: hand;
	cursor: pointer;
}

table#pillInfo tr td img{
	
	/*Thanks again to the binding of isaac wiki for the sharper images code*/
	image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
	height: 3em;
}

table#pillInfo tr td p{
	
	font-size: 20pt;
}