@keyframes showError {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

body{ 
	padding: .5em 2.5em; 
}

body>*{
	margin-bottom: .5em;
}

.centeredFlex{
	justify-content: center;
}

.flex{
	display: flex;
}

.invisible{
	visibility: hidden;
}

.wide{
	width: 100%;
}

#board{
	width: 48em;
	height: 48em;
}

#failure{
	animation: .5s showError;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	display: inherit;
	position: fixed;
	width: 96%;
	z-index: 1;
}

#board table{
	height: 100%;
}

#board, #board>tbody>tr, #board>tbody>tr>td{
	border: 5px solid black;
}

#board table, #board table tr, #board table td{
	border: 1px solid black;
}

#board table td{
	text-align: center;
}

#failure.ng-hide {
	display: none;
	opacity: 0;
}
