:root{
    --thick-border: 5px solid black;
}

@keyframes showError {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

body{ 
	padding: .5em 2.5em; 
}

body>*{
	margin-bottom: .5em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus {
    outline: none;
}

.flex{
	display: flex;
}

.invisible{
	visibility: hidden;
}

#board{
    width: fit-content;
}

#board div:last-child{
    border-bottom: var(--thick-border);
}

#board div:nth-child(3n-2){
    border-top: 5px solid black;
}

#board div:nth-child(3n) input{
    margin-bottom: -1px;
}

#board div:nth-child(3n-2) input{
    margin-top: -1px;
}

#board input{
    border: 1px solid black;
    font-size: 24pt;
    height: 2.25em; width: 2.25em;
    margin: 0;
    text-align: center;
}

#board input:last-child{
    border-right: var(--thick-border);
}

#board input:nth-child(3n-2){
    border-left: var(--thick-border);
}

#controls{
    margin-left: 1em;
    width: 100%;
}

#controls h1{
    margin: 0 1em;
}

#failure{
	animation: .5s showError;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	display: inherit;
	position: fixed;
	width: 96%;
	z-index: 1;
}

#failure.ng-hide {
	display: none;
	opacity: 0;
}