@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

#abbreviation-autocomplete{
  background: url(../assets/img/codes.jpg) center center no-repeat;
  background-size: cover;
  color: #b2dfdb;

  h2{
    font-size: 24pt;
  }

  p{
    font-size: 18pt;
  }

  #autocomplete-title{
    h1{
      color: #a7ffeb;
      margin: 0;
      margin-left: 10%;
      padding: .25em;
      width: 80%;
      text-align: left;

      &:first-child{
        background-color: #004d40;
        border-radius: .1em;
        margin-top: 1em;

        span{
          animation: blink 2s steps(2, start) infinite;
          -webkit-animation: blink 2s steps(2, start) infinite;
        }
      }

      &:last-child{
        background-color: #00695c;

        &:hover{
          background-color: #00796b;
        }

        span{
          color: #00e676;
        }
      }
    }
  }
}

@media screen and (max-aspect-ratio: 8/7) {
  #abbreviation-autocomplete{
    #autocomplete-title{
      h1{
        font-size: 3.2rem;
      }
    }
  }
}
