#calculator{
  background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url(../assets/img/calculator.jpg) center center no-repeat;
  background-size: cover;

  div{
    text-align: left;
  }
  
  h2{
    color: #444444;
    font-family: Helvetica, Arial;
    font-size: 72pt;
    margin: 1em;
    margin-bottom: .5em;
    text-align: left;

    &:hover{
      color:#222222;
    }
  }

  h3{
    color: #444444;
    font-family: Helvetica, Arial;
    font-size: 48pt;
    margin-left: 4em;
    margin-top: 0;
    text-align: left;
  }

  img{
    height: 12em;
    transition: height 1s;

    &:hover{
      height: 13em;
    }
  }

  .flex{
    justify-content: center;
  }
}

@media screen and (max-aspect-ratio: 8/7) {
  #calculator{
    h2{
      font-size: 46pt;
    }

    h3{
      font-size: 28pt;
    }
  }
}
