#single-reminder-bot{
  background: linear-gradient(180deg, #000a 30%, #fff4 100%), url(../assets/img/lostInReminders.webp) center center no-repeat;
  background-size: cover;
  color: #eee;

  h1{
    color: #ddd;

    &:hover{
      color: #fff;
    }
  }

  h2{
    font-size: 24pt;
  }

  p{
    font-size: 16pt;
  }
}
