#to-metric{
  background: url(../assets/img/metricBackground.png) center center no-repeat;
  background-size: cover;
  color: white;
  text-align: left;

  h1{
    color: white;
    font-size: 72pt;
    margin-left: 16%;
    text-decoration: underline;
  }

  h2{
    font-size: 32pt;
    margin-left: 28%;
  }

  p{
    font-size: 14pt;
    margin-left: 20%;
    width: 32rem;
  }

  #dependencies{
    margin-left: 32%;
  }
}

@media screen and (max-aspect-ratio: 8/7) {
  #to-metric{
    h1{
      margin-left: 5%;
    }

    h2{
      margin-left: 25%;
    }

    p{
      margin-left: 10%;
    }

    #dependencies{
      margin-left: 30%;
    }
  }
}
