@font-face{
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local('Heebo'),
    local('Heebo-Regular'),
    url(../assets/fonts/heebo/Heebo-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  src: local('Heebo Black'),
    url(../assets/fonts/heebo/Heebo-Black.ttf) format('truetype');
}

@font-face{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../ToMetric/css/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../ToMetric/css/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../ToMetric/css/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'Upheaval';
  src: url(../assets/fonts/upheaval/upheavtt.ttf) format('truetype');
}

body{
  overflow: hidden;
}

.dependency {
  height: 8em;
  margin-top: 1em;
  transition: height 1s;

  &:hover{
    height: 9em;
  }
}

.flex{
	display: flex;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.page-buttons{
  display: inline-block;
  margin: 0  2em;
  top: calc(50vh - 2em - 1px);

  &:nth-of-type(1){
    margin-right: 90%;
  }

  &:nth-of-type(2){
    margin-left: 90%;
  }

  button{
    background-color: black;
    border-radius: .5em;
    cursor: pointer;
    height: 4em; width: 4em;
    opacity: .5;

    i{
      font-size: 24pt;
      margin: 0;
      color: white;
    }

    &:focus{
      background-color: black;
    }

    &:hover{
      opacity: 1;
    }
  }

  .flex{
    justify-content: space-between;
  }
}

.stack-credit{
  margin-top: 3em;
}

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app{
  height: 100vh !important;
}

@import 'abbreviation-autocomplete';
@import 'calculator';
@import 'isaac-pills';
@import 'single-reminder-bot';
@import 'sudoku-solver';
@import 'to-metric';
@import 'weather-bot';
