<!DOCTYPE html>
<html ng-app="SudokuSolver">
	<head>
		<title>Sudoku Solver</title>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="css/sudokuSolver.css" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
		<script src="scripts/sudokuSolver.js"></script>
	</head>
	<body ng-controller="SudokuPuzzleController as sudoku">
		<noscript>
			<h1>Turn on your dang javascript >:(</h1>
		</noscript>
		<div id="failure" class="alert alert-danger" ng-show="sudoku.failure">
			<strong>Failure</strong> The puzzle could not be solved.
			<a class="close" ng-click="sudoku.hideError()">&times;</a>
		</div>
		<h1 id="title">Sudoku Solver
			<small> Made by Shen Yang(syg84)</small>
		</h1>
		<div class="flex">
            <div id="board">
                <div class="flex" ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8]">
                    <input ng-repeat="j in [0, 1, 2, 3, 4, 5, 6, 7, 8]" type="number" min="1" max="9" step="1" value="{{sudoku.puzzle[i][j].value}}" ng-disabled="{{sudoku.isSolving}}">
                </div>
            </div>
            <div id="controls">
                <div class="jumbotron">
                    <h1>Milliseconds Elapsed: {{sudoku.time}}</h1>
                </div>
                <button class="btn btn-lg col-md-12 col-lg-12" ng-click="sudoku.solvePuzzle()">Solve</button>
            </div>
		</div>
	</body>
</html>
