<!DOCTYPE html>
<html>
	<head>
		<title>Metric Convert</title>
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/conversion.css">
		<script src="js/materialize.min.js"></script>
		<script src="js/vue.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_CHTML' async></script>
	</head>
	<body>
		<header>
			<nav class="lightGray">
				<a class="" href="./">Conversion</a>
				<a class="" href="options.html">Options</a>
			</nav>
		</header>
		<div id="container" class="container">
			<div id="accordion">
				<div class="lightGray">
					<div class="card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="whiteText lightGray">
								Formula
							</button>
						</h5>
					</div>
					<div id="collapseOne">
						<div>
							Equation: \[ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} \]
						</div>
					</div>
				</div>
			</div>
			<div id="conversionInput">		
				<div class="flex">
					<input type="number" class="lightGray" v-model="given" disabled>
					<span>cm</span>
					<input type="number" v-bind:class="answerClass" min="0" v-model="answer" @keyup.enter="checkAnswer">
					<span>inches</span>
				</div>
				<div>
				  <span>Score: {{ score }}</span>
				</div>
			</div>
		</div>
		<script src="js/conversion.js"></script>
	</body>
</html>
