<!DOCTYPE html>
<html>
	<head>
		<title>To Metric</title>
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/conversion.css">
		<script src="js/lodash.min.js"></script>
		<script src="js/materialize.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_CHTML' async></script>
	</head>
	<body class="grey darken-4">
		<div id="navBar">
			<site-nav></site-nav>
		</div>
		<div id="app" class="container">
			<div id="display" class="card grey darken-3">
				<div class="card-content">
					<span class="card-title activator grey darken-2">Show Formula<i class="material-icons right">keyboard_arrow_down</i></span>
                    <div id="stats" class="flex">
                        <div class="flex">
                            <span>
                                Score
                            </span>
                            <span>
                                {{ score }}
                            </span>
                        </div>
                        <div class="flex">
                            <span>
                                %Error
                            </span>
                            <span>
                                {{ errorPercent ? errorPercent : '-' }}
                            </span>
                        </div>
                        <div class="flex">
                            <span>
                                Error Amount
                            </span>
                            <span>
                                {{ errorAmount ? errorAmount : '-' }}
                            </span>
                        </div>
                        <div class="flex">
                            <span>
                                Exact Conversion
                            </span>
                            <span>
                                {{ conversionResult ? conversionResult : '-' }}
                            </span>
                        </div>
                    </div>
				</div>
				<div class="card-reveal grey darken-3">
					<span class="card-title grey darken-2">Back to stats<i class="material-icons right">keyboard_arrow_up</i></span>
					<div>
						\[ 1\,\mathrm{in} = 2.54\,\mathrm{cm} \]
					</div>
				</div>
			</div>
			<div id="conversionInput">
				<div class="flex">
                    <div class="flex">
                        <input type="number" class="grey darken-3" v-model="given" readonly>
                        <input type="text" value="cm" disabled>
                    </div>
                    <label> = </label>
                    <div class="flex">
                        <input class="input-field" type="number" v-bind:class="answerClass" v-model="userAnswer" @keyup.enter="checkAnswer">
                        <input type="text" value="in" disabled>
                    </div>
				</div>
			</div>
		</div>
		<script src="js/nav.js"></script>
		<script src="js/conversion.js"></script>
	</body>
</html>