<!DOCTYPE html>
<html>
    <head>
        <title>Options</title>
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/theme.css">
        <link rel="stylesheet" href="css/options.css">
		<script src="js/materialize.min.js"></script>
        <script src="js/lodash.min.js"></script>
        <script src="js/vue.min.js"></script>
    </head>
    <body>
        <div id="navBar">
            <site-nav></site-nav>
        </div>
        <div id="options" class="container">
            <div class="row">
                <div class="col s12">
                    <div id="general-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/general.jpeg">
                            <span class="card-title">General</span>
                        </div>
                        <div class="card-content">
                            <div class="flex">
                                <p class="white-text">Precision</p>
                                <p class="range-field">
                                    <input type="range" min="0" max="100" v-model="options.general.precision"/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="distance-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/distance.jpg">
                            <span class="card-title">Distance</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="distanceOn" :disabled="distanceDisabled">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Inches</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.customary.inches">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Feet</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.customary.feet">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Yards</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.customary.yards">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Miles</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.customary.miles">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Millimeters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.metric.millimeters">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Centimeters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.metric.centimeters">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Meters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.metric.meters">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Kilometers</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.distance.metric.kilometers">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="temperature-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/temperature.jpg">
                            <span class="card-title">Temperature</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="temperatureOn" :disabled="temperatureDisabled">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Fahrenheit</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.temperature.customary.fahrenheit">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Celsius</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.temperature.metric.celsius">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="mass-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/mass.jpg">
                            <span class="card-title">Mass</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="massOn" :disabled="massDisabled">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Ounces</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.mass.customary.ounces">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Pound</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.mass.customary.pound">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Grams</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.mass.metric.grams">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Kilograms</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.mass.metric.kilograms">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="liquid-volume-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/liquid-volume.jpg">
                            <span class="card-title">Liquid Volume</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="liquidVolumeOn" :disabled="liquidVolumeDisabled">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Fluid Ounces</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.customary.fluidOunces">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Pints</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.customary.pints">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Quarts</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.customary.quarts">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Gallons</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.customary.gallons">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Milliliters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.metric.milliliters">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="white-text">Liters</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.liquidVolume.metric.liters">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="speed-options" class="card grey darken-3">
                        <div class="card-image">
                            <img src="img/speed.jpg">
                            <span class="card-title">Speed</span>
                            <div class="switch">
                                <label class="white-text">
                                    Off
                                    <input type="checkbox" v-model="speedOn" :disabled="speedDisabled">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="title white-text">Customary/Imperial</p>
                                        <div class="flex">
                                            <p class="white-text">Miles/Hour</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.speed.customary.milesPerHour">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s6 right-align">
                                        <p class="title white-text">Metric</p>
                                        <div class="flex">
                                            <p class="white-text">Kilometers/Hour</p>
                                            <div class="switch">
                                                <label class="white-text">
                                                    Off
                                                    <input type="checkbox" v-model="options.conversions.speed.metric.kilometersPerHour">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/nav.js"></script>
        <script src="js/options.js"></script>
		<script>
            M.Range.init(document.querySelectorAll("input[type=range]"));
        </script>
    </body>
</html>
