html, body{
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

.flex{
    display: flex;
}

#app{
    color: white;
    margin-top: 8em;
}

#conversionInput input{
    border-right: 0;
    color: white;
    flex: 6 0 0;
    font-size: 18pt;
    margin-bottom: 0;
    padding: 0 .25em;
    text-align: right;
}

#conversionInput input:nth-child(even){
    flex-grow: 1;
    text-align: left;
}

#conversionInput .flex label{
    font-size: 20pt;
    margin: 0 1em;
    color: white;
}

#conversionInput .flex .flex{
    box-shadow: 4px 4px 8px black;
}

#conversionInput input.correct{
    color: green;
}

#conversionInput input.wrong{
    color: red;
}

#display{
    height: 16em;
}

#display .card-title{
    padding: .25em;
}

#display .card-reveal i{
    line-height: 1.5;
}

#display #stats{
    cursor: default;
}

#display #stats .flex{
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

#display #stats .flex span{
    border: 2px solid white;
}

#display #stats .flex:not(:first-child) span{
    border-left: 0;
}

#display #stats .flex span:first-child{
    font-size: 14pt;
}

#display #stats .flex span:last-child{
    border-top: 0;
    font-size: 24pt;
    padding: 1em 0;
}