html, body{
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

.flex{
    display: flex;
}

#app{
    color: white;
    height: calc(100% - 13.5rem);
    margin-top: 10em;
}

#conversionInput input{
    border-right: 0;
    color: white;
    flex: 6 0 0;
    font-size: 18pt;
    margin-bottom: 0;
    padding: 0 .25em;
    text-align: right;
}

#conversionInput input:nth-child(even){
    flex-grow: 1;
    text-align: left;
}

#conversionInput .flex label{
    font-size: 20pt;
    margin: 0 1em;
    color: white;
}

#conversionInput .flex .flex{
    box-shadow: 4px 4px 8px black;
}

#conversionInput input.correct{
    color: green;
}

#conversionInput input.wrong{
    color: red;
}

#display{
    height: 11em;
}