.card{
    margin-bottom: 0;
}

.row{
    margin-bottom: 1em;
}

.card img{
    filter: brightness(.3);
}

.card .card-image{
    height: 10em;
    overflow: hidden;
}

.card-content .container{
    margin: 0 1em;
    width: calc(100% - 1em - 24px);
    max-width: 100%;
}

.card-content .flex{
    margin-top: .25em;
}

.card-content .col:last-child .flex{
    justify-content: flex-end;
}

.card-content .flex p{
    font-weight: 500;
    width: 8em;
}

.card-content .col:last-child .flex p{
    text-align: left;
}

.card-title+.switch{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 24px;
}

.switch label input[type=checkbox]:checked+.lever{
    background-color: #bbb;
}

.switch label input[type=checkbox]:checked+.lever:after{
    background-color: white;
}

.title{
    font-size: 16pt;
}

#container{
    margin-top: 1em;
}

#distance-options img{
    margin-top: -4%;
}

#liquid-volume-options img{
    margin-top: -8%;
}

#mass-options img{
    margin-top: -6%;
}

#speed-options img{
    margin-top: -6%;
}

#temperature-options img{
    margin-top: -6%;
}