:root{
    --grayMain: #1d1d1d;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

body{
    background-color:var(--grayMain);
}

input[type=number]:not(.browser-default){
    border-bottom: 1px solid var(--grayMain);
}

input[type=number]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.flex{
    display: flex;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}

#nav .brand-logo{
    margin-left: .5em;
}